{% extends "appbuilder/general/model/add.html" %}

{% import "superset/models/table/macros.html" as macros %}

{% block tail_js %}
  {{ super() }}
 {# {{ macros.testconn() }} #}

{% endblock %}

{% block add_form %}
{{ super() }}

<script>
    // console.log($("#table_name").parent().parent().parent())
    //$('#table_name').parent().parent().attr("style", "display:none;")
    //$('#table_name').attr('type', 'checkbox')
    var select_tables = "<select class='select_tables' placeholder='Table Name' id='table_name' name='table_name' multiple='multiple' style='width:240px;'></select>"
    console.log($("#schema").closest("tbody").append("<tr><td class='col-lg-2'><label for='table_name' control-label> Table Name</label></td><td>"+ select_tables +"</td></tr>"))

    $('.btn-primary').attr("id", "btn-save")
    //$('#btn-save').attr("style", "display:none;")
    $('#btn-save').before('<div id="fake-save" class="btn btn-sm btn-primary">SSS <i class="fa fa-save"></i></div>')
    //$('#fake-save').mouseover(function(e){
    //    console.log(e)
    //})

    $('#fake-save').click(function(e){
        //$('#table_name').text(selected_table_list)
        //$('#btn-save').click()
        
        var selected_node_list = {};

        var selected_node = $('.select2-search-choice')
        console.log(selected_node)
        console.log(got_tables_list)
        selected_node.each(function(e){
            //console.log($(this).text())
            for(i in got_tables_list){
                console.log(i)
                console.log(got_tables_list[i])
                console.log(String($(this).text().trim()))
                got_tables_list[i] === String($(this).text().trim()) ? selected_node_list[i] = String($(this).text().trim()) : console.log("거짓")
            }
        })
        console.log(selected_node_list)

        var string_for_table_name_form = "";
        var string_for_refined_name_form = "";
        for (i in selected_node_list){
            if (string_for_table_name_form == "" && string_for_refined_name_form == ""){
                string_for_table_name_form += i
                string_for_refined_name_form += selected_node_list[i]
            } else {
                string_for_table_name_form += "," + i
                string_for_refined_name_form += "," + selected_node_list[i]
            }
            console.log(i)
            console.log(selected_node_list[i])
        }
        $('#table_name').val(string_for_table_name_form)
        $('#refined_name').val(string_for_refined_name_form)
        //for(i in got_tables_list){
        //    console.log(i)
        //    console.log(got_tables_list[i])
        //}

        //for (i in $('.select2-search-choice')){
        //    console.log(i)
        //}
    })

    //function get_key(object, list)
</script>


<script>

    var database_list;
    var selected_table_list = {};
    var got_tables_list;
    
    $(document).ready(function() {
        var csrf_token = "{{ csrf_token() if csrf_token else '' }}";

        $.ajaxSetup({
          beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
          }
        });
        console.log(csrf_token)

        var data = {};
       

        data = JSON.stringify({
            name: $('#database').val()
        })

        $.ajax({
            method: "POST",
            url: "/superset/geturii",
            data: data,
            dataType: 'json',
            contentType: "application/json; charset=utf-8"
          }).done(function(data) {
              database_list = data
              console.log(database_list)
          })

        
        //for (i in data1){
        //    $(".testtableslist").append("<option class= value='"+ i +"'>"+ data1[i] +"</option>")
            // console.log(data1[i])
        //}





        // console.log($("#table_name").select2())

        //$('.testtableslist').select2();
        
        //---------------------------table name select2--------------------------
        var table_list
        
        $('.select_tables').select2();
        $('.select_tables').on('select2-selecting', function(e){
            console.log(e)
            //selected_table_list[e.object.id] = e.object.text
            //console.log(selected_table_list)

            //$('#table_name').val(e.object.id)
        })
        //-----------------------------------------------------------------------

        $('.my_select2').on('select2-selecting', function(e){

            //console.log($('#s2id_autogen3'))
            $('.table_name').detach()

            selected_db_name = e.object.text
            //console.log(database_list[selected_db_name])

            //console.log(e.object.text)
            //console.log("db selecting")

            var csrf_token = "{{ csrf_token() if csrf_token else '' }}";
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                  if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                  }
                }
            });
            //console.log(csrf_token)

            var data_testconn = {};
            try{
            data_testconn = JSON.stringify({
                uri: database_list[selected_db_name],
                name: selected_db_name,
                // impersonate_user: $('#impersonate_user').is(':checked'),
                // extras: JSON.parse($("#extra").val()),
            })
            } catch(parse_error){
              alert("Malformed JSON in the extras field: " + parse_error);
              return false
            }

            $.ajax({
                method: "POST",
                url: "/superset/testconn",
                data: data_testconn,
                dataType: 'json',
                contentType: "application/json; charset=utf-8"
              }).done(function(data) {
                  got_tables_list = data;
                  console.log(got_tables_list)
                  //alert("Seems OK!");

                  for (i in data){
                    $(".select_tables").append("<option style='display: none;' class=table_name value='"+ i +"'>"+ data[i] +"</option>")
                    
                    //$("#table_name").parent().prepend("<input type='checkbox' placeholder='Table Name' name='table_name' class='form-control' value='"+ i +"'>"+ data[i] +"</input></br>")

                    // console.log(data1[i])
                  }

                  if ($('#tables').length == 0)
                    $('body div.container').append('<div id="tables"></div>');
                  div = $('#tables')
                  div.html('Tables:<br>');
                  $.each(data, function(i, d){
                    var id = 'tbl_' + i;
                    div.append('<span id="' + id + '" style="margin: 0px 10px 10px 0px;" class="btn btn-default">' + d + '</span>')
                    $('#' + id).click(function(){window.location = '/tablemodelview/add';})
                  });
              }).fail(function(error) {
                  var respJSON = error.responseJSON;
                  var errorMsg = error.responseText;
                  if (respJSON && respJSON.message) {
                      errorMsg = respJSON.message;
                  }
                  alert("ERROR: " + errorMsg);
              });

        });


    });
</script>
{% endblock %}